.container{
  text-align: center;
}
.grey {
  background-color: #f00;
}
img {
  height: 200px;
}
p{
  padding: 0  50px;
  padding-bottom: 20px;
}
h1{
  padding-top: 25px;
  padding-bottom: 25px;
}

h3{
  padding-top: 20px;
  padding-bottom: 20px;
}

#lezioni [class*="col-"] img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#steps [class*="col-"] img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#why  [class*="col-"]  img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  margin-top: 20px;
}

#steps,#why{
  margin-top: 50px;
}

@media screen and (max-width: 991px){

  .grey{
    background: #0f0;
  }

  img{
    height: 150px;
  }

}

@media screen and (max-width: 767px){

  .grey{
    background: #00f;
  }

  img{
    height: 100px;
  }

}























}
